body{
        font-family: "Helvetica", Sans-Serif;
        background-color:white;
}
.nav{
    background-color:#e86b27;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 25px;
    color: white;
    list-style: none;
    display: flex;
}
.nav ul {
    flex: 1;
list-style-type: none;
margin: 0;
list-style: none;


}
#images{

width: 150px;
height: 98px;
margin-left: -40px;
border: solid 1px #333;
}
.nav ul li {
padding-left: 10%;
padding-top: 30px;
float: left;
text-align: none;
list-style: none;
}
li a{
color: white;
text-decoration: none;
}
